body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    background-image: url("img/drew-beamer-kUHfMW8awpE-unsplash.jpg");

}

header {
    background-color: #484848;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    height: 50px;

}

.logo img {
    display: flex;
    float: left;
    height: 30px; /* Укажите нужный размер для логотипа */


}
.slider {
    position: relative;
    max-width: 1900px;
    margin: auto;
    overflow: hidden;
    border-radius:15px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 1900px;
    box-sizing: border-box;
}
 .slider img{
    width: 1900px;
    border-radius: 15px;
 }
img {
   
   
    display: block;
}

butto {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius:15px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.welcome-box {
    width: 1900px;
    height: 1000px;
    font-size: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    display: block;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
}
.search-box {
    margin-top: 10px;
}
.search-box input[type="text"] {
    padding: 10px;
    width: 300px; /* Ширина поля ввода */
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 4px; /* Закругление углов */
}
.search-box input[type="submit"] {
    padding: 10px;
    background-color: #fff; /* Цвет кнопки */
    border: 1px solid #4CAF50; /* Граница кнопки */
    border-radius: 4px; /* Закругление углов */
    cursor: pointer; /* Курсор при наведении */
}
.search-box input[type="submit"]:hover {
    background-color: #4CAF50; /* Цвет кнопки при наведении */
    color: white; /* Цвет текста кнопки при наведении */
}
.logo h1 {
    font-size: 24px;
    margin-bottom: 10px; /* Отступ между логотипом и навигацией */
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}


nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 100px;
    transition: background-color 0.3s;
    
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px;
    background-color: #fff;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: sticky;
        background-color: #333;
        top: 0px;
        right: 0;
        width: 100%;
        padding: 10px 0;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    width: 200px;
    display: inline-block;
    margin-right: 10px;
    color: #000000;

}

.product img {
    width: 100%;
    height: 190px;

}

.product h2 {
    margin: 10px 0;
}

footer {
    text-align:center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
 
}
.search-bar {
    flex: 1;
    margin: 0 20px;
}
.search-bar input {
    width: 100%;
  
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.auth-container {
  
    width: 300px;
    margin: 100px auto;
    padding: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h2 {
    text-align: center;
    color: #424242;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}




button {
   
  top: 20px;
    width: 300px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.contain {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.cart-item img {
    max-width: 100px;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

.price {
    font-weight: bold;
    color: #333;
}

.remove-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #ff1a1a;
}

.total {
    margin-top: 20px;
    text-align: right;
}

.checkout-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.checkout-btn:hover {
    background-color: #45a049;
}



.product-card {
    position: absolute; 
    top: 350px; 
    left: 50%;
     transform: translate(-50%, -50%); 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    width: 900px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 250px;
    height: 150px;
    border-radius: 8px 0 0 8px;
}

.product-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-title {
  
    font-size: 24px;
    margin: 0 0 10px 0;
}

.product-details {
  
    font-size: 14px;
    margin: 0 0 10px 0;
}

.product-price {
    font-size: 18px;
    color: #3498db;
}

.add-to-cart {
    text-align: center;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: #2980b9;
}


.sort-controls {
    margin-bottom: 30px;
    text-align: left;


    border-radius: 10px;
  
}
h3{
    font-size: 20px;
}



.favorite-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.favorite-btn:hover {
    background-color: #f39c12;
    transform: scale(1.05);
}

.favorite-btn.active {
    background-color: #e74c3c;
}

.favorite-btn.active:hover {
    background-color: #c0392b;
}


input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


  /* Добавьте свои стили по желанию */
  .auth-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .form-group {
    margin-bottom: 15px;
  }
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  
  .search-bar {
      margin: 20px;
      position: relative;
    top: 1000;
  }

  .search-results {
    color: #333;

      max-height: 200px;
      overflow-y: auto;
      position: absolute; /* чтобы результаты отображались под полем ввода */
      background: #fff; /* белый фон для результатов */
      z-index: 1000; /* чтобы результаты были над другими элементами */
      width: calc(100% - 30px); /* ширина результатов */
  }

  .result-item {

      padding: 10px;
      cursor: pointer;
      display: flex; /* используем flex для выравнивания изображений и текста */
      align-items: center; /* выравнивание по центру */
  }

  .result-item img {
      width: 50px; /* фиксированная ширина для изображения */
      height: 50px; /* фиксированная высота для изображения */
      margin-right: 10px; /* отступ между изображением и текстом */
  }

  .result-item:hover {
      background: #f0f0f0; /* изменение фона при наведении */
  }